<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="Digital marketing agency, Digital marketing company, Digital marketing services">
	<meta name="description" content="Jobi is a beautiful website template designed for job board websites.">
    <meta property="og:site_name" content="Jano">
    <meta property="og:url" content="https://creativegigstf.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Jobi - Responsive Job Board HTML Template">
	<meta name='og:image' content='/static/images/assets/ogg.png'>
	<!-- For IE -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- For Resposive Device -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- For Window Tab Color -->
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#244034">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#244034">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#244034">
	<title>GSET |  Member Dashboard</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="56x56" href="/static/images/fav-icon/icon.png">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="all">
	<!-- Main style sheet -->
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" media="all">
	<!-- responsive style sheet -->
	<link rel="stylesheet" type="text/css" href="/static/css/responsive.css" media="all">

	<!-- Fix Internet Explorer ______________________________________-->
	<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="vendor/html5shiv.js"></script>
			<script src="vendor/respond.js"></script>
		<![endif]-->
</head>

<body>
	<div class="main-page-wrapper">
		<!-- ===================================================
				Loading Transition
			==================================================== -->
		<div id="preloader">
			<div id="ctn-preloader" class="ctn-preloader">
				<div class="icon">
					<img src="/static/images/loader.svg" alt="" class="m-auto d-block" width="60">
				</div>
				<div class="txt-loading">
					<span data-text-preloader="G" class="letters-loading">
						G
					</span>
					<span data-text-preloader="S" class="letters-loading">
						S
					</span>
					<span data-text-preloader="E" class="letters-loading">
						E
					</span>
					<span data-text-preloader="T" class="letters-loading">
						T
					</span>
				</div>
			</div>
		</div>

		<!-- 
		=============================================
				Dashboard Aside Menu
		============================================== 
		-->
		<aside class="dash-aside-navbar">
			<div class="position-relative">
				<div class="logo text-md-center d-md-block d-flex align-items-center justify-content-between">
					<a href="/">
						<img  src="/static/dashboard/images/gset-logo.png" style="height: 50px;width: 100px;" alt="">
					</a>
					<button class="close-btn d-block d-md-none"><i class="bi bi-x-lg"></i></button>
				</div>
				<div class="user-data">
					<div class="user-avatar online position-relative rounded-circle">
						<img id="profile_photo" src="/static/images/lazy.svg" data-src="/static/dashboard/images/avatar_01.jpg" height="80px" width="70px" alt="" class="lazy-img">
					</div>
					<!-- /.user-avatar -->
					<div class="user-name-data">
						<button class="user-name dropdown-toggle" type="button" id="profile-dropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
							Rashed Kabir
						</button>
						<ul class="dropdown-menu" aria-labelledby="profile-dropdown">
						    <li>
                                <a class="dropdown-item d-flex align-items-center" href="candidate-dashboard-profile.html"><img src="/static/images/lazy.svg" data-src="/static/dashboard/images/icon/icon_23.svg" alt="" class="lazy-img"><span class="ms-2 ps-1">Profile</span></a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="candidate-dashboard-settings.html"><img src="/static/images/lazy.svg" data-src="/static/dashboard/images/icon/icon_24.svg" alt="" class="lazy-img"><span class="ms-2 ps-1">Account Settings</span></a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="#"><img src="/static/images/lazy.svg" data-src="/static/dashboard/images/icon/icon_25.svg" alt="" class="lazy-img"><span class="ms-2 ps-1">Notification</span></a>
                            </li>
						</ul>
					</div>
				</div>
				<!-- /.user-data -->
				<nav class="dasboard-main-nav">
					<ul class="style-none">
						
						<li><a href="/member-dashboard" class="d-flex w-100 align-items-center">
							<img src="/static/images/lazy.svg" data-src="/static/dashboard/images/icon/icon_2.svg" alt="" class="lazy-img">
							<span>My Profile</span>
						</a></li>
                        <li><a href="/member-courses" class="d-flex w-100 align-items-center">
							<img src="/static/images/lazy.svg" data-src="/static/dashboard/images/icon/icon_3.svg" alt="" class="lazy-img">
							<span>Courses</span>
						</a></li>
						
						<li><a href="javascript:void(0);" class="d-flex w-100 align-items-center active">
							<img src="/static/images/lazy.svg" data-src="/static/dashboard/images/icon/icon_6_active.svg" alt="" class="lazy-img">
							<span>Jobs</span>
						</a></li>
						<li><a href="javascript:void(0);" class="d-flex w-100 align-items-center" data-bs-toggle="modal" data-bs-target="#deleteModal">
							<img src="/static/images/lazy.svg" data-src="/static/dashboard/images/icon/icon_8.svg" alt="" class="lazy-img">
							<span>Delete Account</span>
						</a></li>
					</ul>
				</nav>
				<!-- /.dasboard-main-nav -->
				<div class="profile-complete-status">
					<div class="progress-value fw-500">87%</div>
					<div class="progress-line position-relative">
						<div class="inner-line" style="width:80%;"></div>
					</div>
					<p>Profile Complete</p>
				</div>
				<!-- /.profile-complete-status -->

				<a href="/login" class="d-flex w-100 align-items-center logout-btn">
					<img src="/static/images/lazy.svg" data-src="/static/dashboard/images/icon/icon_9.svg" alt="" class="lazy-img">
					<span>Logout</span>
				</a>
			</div>
		</aside>
		<!-- /.dash-aside-navbar -->

		<!-- 
		=============================================
			Dashboard Body
		============================================== 
		-->
		<div class="dashboard-body">
			<div class="position-relative">
				<!-- ************************ Header **************************** -->
				<header class="dashboard-header">
					<div class="d-flex align-items-center justify-content-end">
						<button class="dash-mobile-nav-toggler d-block d-md-none me-auto">
							<span></span>
						</button>
						<form action="#" class="search-form">
							<input type="text" placeholder="Search here..">
							<button><img src="/static/images/lazy.svg" data-src="/static/dashboard/images/icon/icon_10.svg" alt="" class="lazy-img m-auto"></button>
						</form>
						<div class="profile-notification ms-2 ms-md-5 me-4">
							<button class="noti-btn dropdown-toggle" type="button" id="notification-dropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
								<img src="/static/images/lazy.svg" data-src="/static/dashboard/images/icon/icon_11.svg" alt="" class="lazy-img">
								<div class="badge-pill"></div>
							</button>
							<ul class="dropdown-menu" aria-labelledby="notification-dropdown">
								<li>
									<h4>Notification</h4>
									<ul class="style-none notify-list">
										<li class="d-flex align-items-center unread">
											<img src="/static/images/lazy.svg" data-src="/static/dashboard/images/icon/icon_36.svg" alt="" class="lazy-img icon">
											<div class="flex-fill ps-2">
												<h6>You have 3 new mails</h6>
												<span class="time">3 hours ago</span>
											</div>
										</li>
										<li class="d-flex align-items-center">
											<img src="/static/images/lazy.svg" data-src="/static/dashboard/images/icon/icon_37.svg" alt="" class="lazy-img icon">
											<div class="flex-fill ps-2">
												<h6>Your job post has been approved</h6>
												<span class="time">1 day ago</span>
											</div>
										</li>
										<li class="d-flex align-items-center unread">
											<img src="/static/images/lazy.svg" data-src="/static/dashboard/images/icon/icon_38.svg" alt="" class="lazy-img icon">
											<div class="flex-fill ps-2">
												<h6>Your meeting is cancelled</h6>
												<span class="time">3 days ago</span>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div><a href="employer-dashboard-submit-job.html" class="job-post-btn tran3s">Post a Job</a></div>
					</div>
				</header>
				<!-- End Header -->

				<h2 class="main-title">Jobs</h2>
				<!-- USER PROFILE STARTS -->
				<div class="row">
                    {% for job in jobs %}
                    <div class="job-list-one style-two position-relative border-style mb-20">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-xl-3 col-lg-4">
                                <div class="job-title d-flex align-items-center">
                                    <a href="/jobs/{{job.id}}" class="logo md-mb-20"><img src="images/lazy.svg" data-src="{{job.cover_image.url}}" alt="" class="lazy-img m-auto"></a>
                                    <a href="/jobs/{{job.id}}" class="title fw-500 tran3s ps-3 ps-lg-0">{{job.title}}</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 ms-auto">
                                <a href="/jobs/{{job.id}}" class="job-duration fw-500">{{job.job_type}}</a>
                                <div class="job-salary"><span class="fw-500 text-dark">{{job.salary}}</span> / {{job.experience_level}}</div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 ms-auto">
                                <div class="job-location xs-mt-10">
                                    <a href="/jobs/{{job.id}}">{{job.location}}</a>
                                </div>
                                <div class="job-category">
                                    <a href="/jobs/{{job.id}}">{{job.company}}</a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4">
                                <div class="btn-group d-flex align-items-center justify-content-md-end sm-mt-20">
                                    <!-- <a href="job-details-v2.html" class="save-btn text-center rounded-circle tran3s me-3" title="Save Job"><i class="bi bi-bookmark-dash"></i></a> -->
                                    <a href="/jobs/{{job.id}}" class="apply-btn text-center tran3s">APPLY</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                    
                </div>
				
		</div>
		<!-- /.dashboard-body -->




		<!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen modal-dialog-centered">
                <div class="container">
                    <div class="remove-account-popup text-center modal-content">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						<img src="/static/images/lazy.svg" data-src="/static/dashboard/images/icon/icon_22.svg" alt="" class="lazy-img m-auto">
						<h2>Are you sure?</h2>
						<p>Are you sure to delete your account? All data will be lost.</p>
						<div class="button-group d-inline-flex justify-content-center align-items-center pt-15">
							<a href="#" class="confirm-btn fw-500 tran3s me-3">Yes</a>
							<button type="button" class="btn-close fw-500 ms-3" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
						</div>
                    </div>
                    <!-- /.remove-account-popup -->
                </div>
            </div>
        </div>
		


		<button class="scroll-top">
			<i class="bi bi-arrow-up-short"></i>
		</button>
		<div id="toast"></div>

		<!-- Optional JavaScript _____________________________  -->

		<!-- jQuery first, then Bootstrap JS -->
		<!-- jQuery -->
		<script src="/static/vendor/jquery.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- WOW js -->
		<script src="/static/vendor/wow/wow.min.js"></script>
		<!-- Slick Slider -->
		<script src="/static/vendor/slick/slick.min.js"></script>
		<!-- Fancybox -->
		<script src="/static/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
		<!-- Lazy -->
		<script src="/static/vendor/jquery.lazy.min.js"></script>
		<!-- js Counter -->
		<script src="/static/vendor/jquery.counterup.min.js"></script>
		<script src="/static/vendor/jquery.waypoints.min.js"></script>
		<!-- Nice Select -->
		<script src="/static/vendor/nice-select/jquery.nice-select.min.js"></script>
		<!-- validator js -->
		<script src="/static/vendor/validator.js"></script>

		<!-- Theme js -->
		<script src="/static/js/theme.js"></script>
		<script src="/static/js/axios.min.js"></script>
		<script src="/static/js/utils.js"></script>
		<script src="/static/js/api_calls.js"></script>
		<script>
			var token = localStorage.getItem("auth_token");
			var user;
			// if there's no access token, they must login
			var headers = {Authorization: "Bearer "+token}
			if(exists(token)){
				// fetch user full profile
				var url = "/api/client/auth/profile/self"
				makeGetApiRequestwithToken(profileInfoCallback,url,headers)
			}

		function buildAffiliation(affiliation){
			var _id = generateRandomString();
			return `<div class="dash-input-wrapper mb-20" id="${_id}">
                        <label for="">Association Name</label>
						<div class="row">
						<div class="col-10">
							<input type="text" placeholder="eg: GES" value="${affiliation}" required>
						</div>
							<div class="col-2">
								<button type="button" class="dash-btn-one" onclick="deleteAffiliationBox('${_id}','${affiliation}')"><i class="bi bi-bin"></i> Delete</button>
							</div>	
						</div>
                        
                    </div>`;
		}

		function profileInfoCallback(response){
				if(response.status >= 200 && response.status <=300){
					user = response.data;
					var fields = ["first_name","last_name","email",
					"middle_name","phone_number","date_of_birth","current_institution","short_bio","linkedin_profile","short_bio"];
					fields.forEach(element => {
						setFieldValue(element,user[""+element]);
					});
					if(exists(user.region_of_institution)){
						$("#region_of_institution").val(user.region_of_institution);
						var option = user.region_of_institution_name;
						console.log(option);
						$("#region").append(option);
						
					}else{
						var option = `None Selected`;
						console.log(option);
						$("#region").append(option);
						
					}
					if(exists(user.user_img)){
						$("#photo_preview").attr("src",user.user_img);
						$("#photo_preview").attr("data-src",user.user_img);
						$("#profile_photo").attr("src",user.user_img);
						$("#profile_photo").attr("data-src",user.user_img);
						
					}
					if(exists(user.first_name)){
						$("#profile-dropdown").html(user.first_name);
					}else{
						$("#profile-dropdown").html(user.email);
					}
					if(exists(user.professional_associations)){
						user.professional_associations.forEach(affiliation => {
							$("#affiliations").prepend(buildAffiliation(affiliation));
						});
					}
					if(exists(user.resume)){
						var html = `<div class="attached-file d-flex align-items-center justify-content-between">
								<span><a href="${user.resume}">${user.resume}</a></span>
								<a href="#" class="remove-btn"><i class="bi bi-x"></i></a>
							</div>`;
						$("#resumes").html(html);
					}
					console.log(response.data);
				}
				if(response.status == 400){
					// bad request, look for errors
					response.data.non_field_errors.forEach(element => {
						errors += element
					});
			}
		}

		function profileInfoUpdateCallback(response){
			$("#update_profile_submit_btn").html("Save Changes");
			$("#update_profile_submit_btn").attr("disabled",false);
			$("#affiliations_submit_btn").html("Save All");
			$("#affiliations_submit_btn").attr("disabled",false);
				if(response.status >= 200 && response.status <=300){
					user = response.data;
					if(exists(user.user_img)){
						$("#photo_preview").attr("src",user.user_img);
						$("#photo_preview").attr("data-src",user.user_img);
						$("#profile_photo").attr("src",user.user_img);
						$("#profile_photo").attr("data-src",user.user_img);
					}
					if(exists(user.resume)){
						var html = `<div class="attached-file d-flex align-items-center justify-content-between">
								<span><a href="${user.resume}">${user.resume}</a></span>
								<a href="#" class="remove-btn"><i class="bi bi-x"></i></a>
							</div>`;
						$("#resumes").html(html);
					}
				}
				if(response.status == 400){
					console.log(response);
					// bad request, look for errors
					response.data.non_field_errors.forEach(element => {
						errors += element
					});
			}
		}

		function submitUpdateProfileForm(){
			$("#update_profile_submit_btn").html("Updating ...");
			$("#update_profile_submit_btn").attr("disabled",true);
			$("#update_profile_form").submit();
			$("#errors").attr("hidden",true);
		}

		$("#update_profile_form").on("submit",function(event){
			var Allform = buildForm("update_profile_form");
			var form = {};
			var affilations = [];
			Object.entries(Allform).forEach(([key, value]) => {
				if(exists(value) && value != ""){	
						form[""+key] = value;	
				}
			});
			form["affiliations"] = affilations;
			var url = "/api/client/auth/profile/"+user.id;
			console.log(form);
			makePutApiRequestwithToken(profileInfoUpdateCallback,url,form,headers)
			
		});

		document.getElementById('uploadImg').addEventListener('change', function(event) {
			const file = event.target.files[0];
			if (file) {
			const reader = new FileReader();
			// Set up the reader to read the file as a data URL (base64)
			reader.readAsDataURL(file);
			reader.onload = function() {
				const base64String = reader.result;
				// Optionally, you could log or use the base64 string for other purposes
				var url = "/api/client/auth/profile/"+user.id;

				var form = {
					user_img:base64String
				}

				makePutApiRequestwithToken(profileInfoUpdateCallback,url,form,headers)
			};

			reader.onerror = function(error) {
				console.error('Error: ', error);
			};
			} else {
			console.log('No file selected');
			}
		});

		function addNewAffiliationBox(){
			var _id = generateRandomString();
			var html = `<div class="dash-input-wrapper mb-20" id="${_id}">
							<label for="">Association Name</label>
							<div class="row">
								<div class="col-10">
									<input type="text" name="affiliation_${_id}" placeholder="eg: GES" required>
								</div>
								<div class="col-2">
									<button href="javascript:void(0);" class="dash-btn-one" onclick="removeAffiliationBox('${_id}')"><i class="bi bi-bin"></i> Remove</button>
								</div>	
							</div>
							
							
						</div>`;
			$("#affiliations").append(html); 
		}
		function removeAffiliationBox(_id){
			$("#"+_id).remove();
		}
		function deleteAffiliationBox(_id,affiliation){
			var new_affiliations = user.professional_associations.filter(item => item !== affiliation);
			var url = "/api/client/auth/profile/"+user.id;
			var form = {
				professional_associations:new_affiliations
			}
			makePutApiRequestwithToken(profileInfoUpdateCallback,url,form,headers)
			$("#"+_id).remove();
		}

		function submitAffiliations(){
			var affilations_form = buildForm("affiliations_form");
			for (const key of Object.keys(affilations_form)) {
				var value = affilations_form[""+key];
				console.log(value);
				if(value.trim() == ''){	
					console.log("here")
					toast("Fill All Fields",3000);
					return false;
				}
			}
			$("#affiliations_submit_btn").html("Saving All ...");
			$("#affiliations_submit_btn").attr("disabled",true);
			$("#affiliations_form").submit();
		}


		$("#affiliations_form").on("submit",function(event){
			var affiliations = [];
			event.preventDefault();
			var affilations_form = buildForm("affiliations_form");
			for (const key of Object.keys(affilations_form)) {
				var value = affilations_form[""+key];
				if(value.trim() != ''){	
					affiliations.push(value)
				}
			}
			console.log(affiliations);
			var url = "/api/client/auth/profile/"+user.id;
			var form = {
				professional_associations:affiliations
			}
			makePutApiRequestwithToken(profileInfoUpdateCallback,url,form,headers)
		})

		document.getElementById('uploadCV').addEventListener('change', function(event) {
			const file = event.target.files[0];
			if (file) {
			const reader = new FileReader();
			// Set up the reader to read the file as a data URL (base64)
			reader.readAsDataURL(file);
			reader.onload = function() {
				const base64String = reader.result;
				// Optionally, you could log or use the base64 string for other purposes
				var url = "/api/client/auth/profile/"+user.id;
				var form = {
					resume:base64String
				}
				console.log(form);
				makePutApiRequestwithToken(profileInfoUpdateCallback,url,form,headers)
			};

			reader.onerror = function(error) {
				console.error('Error: ', error);
			};
			} else {
			console.log('No file selected');
			}
		});

		</script>
	</div> 
	<!-- /.main-page-wrapper -->
</body>

</html>