{% extends "frontend/base.html" %}
{% block content %}

		<!-- 
		=============================================
			Inner Banner
		============================================== 
		-->
		<div class="inner-banner-one position-relative">
			<div class="container">
				<div class="position-relative">
					<div class="row">
						<div class="col-xl-6 m-auto text-center">
							<div class="title-two">
                                <h2 class="text-white">Job Details</h2>
                            </div>
							<p class="text-lg text-white mt-30 lg-mt-20">Here is everything you need to know before applying</p>
						</div>
					</div>
				</div>
			</div>
			<img src="/static/images/lazy.svg" data-src="/static/images/shape/shape_02.svg" alt="" class="lazy-img shapes shape_01">
			<img src="/static/images/lazy.svg" data-src="/static/images/shape/shape_03.svg" alt="" class="lazy-img shapes shape_02">
		</div> <!-- /.inner-banner-one -->



		<!-- 
		=============================================
			Job Details
		============================================== 
		-->
		<section class="job-details pt-100 lg-pt-80 pb-130 lg-pb-80">
			<div class="container">
				<div class="row">
					<div class="col-xxl-9 col-xl-8">
						<div class="details-post-data me-xxl-5 pe-xxl-4">
							<div class="post-date">{{job.crated}} <a href="#" class="fw-500 text-dark">{{job.company}}</a></div>
							<h3 class="post-title">{{job.title}}</h3>
							<!-- <ul class="share-buttons d-flex flex-wrap style-none">
								<li><a href="#" class="d-flex align-items-center justify-content-center">
									<i class="bi bi-facebook"></i>
									<span>Facebook</span>
								</a></li>
								<li><a href="#" class="d-flex align-items-center justify-content-center">
									<i class="bi bi-twitter"></i>
									<span>Twitter</span>
								</a></li>
								<li><a href="#" class="d-flex align-items-center justify-content-center">
									<i class="bi bi-link-45deg"></i>
									<span>Copy</span>
								</a></li>
							</ul> -->

							<div class="post-block border-style mt-50 lg-mt-30">
								<div class="d-flex align-items-center">
									<div class="block-numb text-center fw-500 text-white rounded-circle me-2">1</div>
									<h4 class="block-title">Overview</h4>
								</div>
								<p>{{job.overview}}</p>
							</div>
							<div class="post-block border-style mt-30">
								<div class="d-flex align-items-center">
									<div class="block-numb text-center fw-500 text-white rounded-circle me-2">2</div>
									<h4 class="block-title">Job Description</h4>
								</div>
								<p>{{job.description}}</p>
							</div>
							<div class="post-block border-style mt-40 lg-mt-30">
								<div class="d-flex align-items-center">
									<div class="block-numb text-center fw-500 text-white rounded-circle me-2">3</div>
									<h4 class="block-title">Responsibilities</h4>
								</div>
								<ul class="list-type-one style-none mb-15">
									{{job.responsibilities}}
								</ul>
							</div>
							<div class="post-block border-style mt-40 lg-mt-30">
								<div class="d-flex align-items-center">
									<div class="block-numb text-center fw-500 text-white rounded-circle me-2">4</div>
									<h4 class="block-title">Required Skills:</h4>
								</div>
								<ul class="list-type-two style-none mb-15">
									{{job.requirements}}
								</ul>
							</div>
							<div class="post-block border-style mt-40 lg-mt-30">
								<div class="d-flex align-items-center">
									<div class="block-numb text-center fw-500 text-white rounded-circle me-2">5</div>
									<h4 class="block-title">Benefits:</h4>
								</div>
								<ul class="list-type-two style-none mb-15">
									{{job.benefits}}
								</ul>
							</div>
						</div>
						<!-- /.details-post-data -->
					</div>

					<div class="col-xxl-3 col-xl-4">
						<div class="job-company-info ms-xl-5 ms-xxl-0 lg-mt-50">
							<img src="/static/images/lazy.svg" data-src="/static/images/logo/media_37.png" alt="" class="lazy-img m-auto logo">
							<div class="text-md text-dark text-center mt-15 mb-20">{{job.company}}</div>
							<a href="#" class="website-btn tran3s">Visit website</a>

							<div class="border-top mt-40 pt-40">
								<ul class="job-meta-data row style-none">
									<li class="col-xl-7 col-md-4 col-sm-6">
										<span>Salary</span>
										<div>{{job.salary}}</div>
									</li>
									<li class="col-xl-5 col-md-4 col-sm-6">
										<span>Expertise</span>
										<div>{{job.experience_level}}</div>
									</li>
									<li class="col-xl-7 col-md-4 col-sm-6">
										<span>Location</span>
										<div>{{job.location}}</div>
									</li>
									<li class="col-xl-5 col-md-4 col-sm-6">
										<span>Job Type</span>
										<div>{{job.job_type}}</div>
									</li>
									<li class="col-xl-7 col-md-4 col-sm-6">
										<span>Apply Before</span>
										<div>{{job.application_deadline | date}}</div>
									</li>
									<!-- <li class="col-xl-5 col-md-4 col-sm-6">
										<span>Experience</span>
										<div>2 Years</div>
									</li> -->
								</ul>

								<!-- <div class="job-tags d-flex flex-wrap pt-15">
									<a href="#">Design</a>
									<a href="#">Product Design</a>
									<a href="#">Brands</a>
									<a href="#">Application</a>
									<a href="#">UI/UX</a>
								</div> -->
								<a href="#" class="btn-one w-100 mt-25">Apply Now</a>
							</div>
						</div>
						<!-- /.job-company-info -->
					</div>
				</div>
			</div>
		</section>



		<!--
		=====================================================
			Related Job Slider
		=====================================================
		-->
		<section class="related-job-section pt-90 lg-pt-70 pb-120 lg-pb-70">
			<div class="container">
				<div class="position-relative">
					<div class="title-three text-center text-md-start mb-55 lg-mb-40">
						<h2 class="main-font">Related Jobs</h2>
					</div>

					<div class="related-job-slider">
						<div class="item">
							<div class="job-list-two style-two position-relative">
								<a href="job-details-v2.html" class="logo"><img src="/static/images/logo/media_22.png" alt="" class="m-auto"></a>
								<a href="job-details-v2.html" class="save-btn text-center rounded-circle tran3s" title="Save Job"><i class="bi bi-bookmark-dash"></i></a>
								<div><a href="job-details-v2.html" class="job-duration fw-500">Fulltime</a></div>
								<div><a href="job-details-v2.html" class="title fw-500 tran3s">Lead designer & expert in maya 3D</a></div>
								<div class="job-salary"><span class="fw-500 text-dark">$300-$450</span> / Week</div>
								<div class="d-flex align-items-center justify-content-between mt-auto">
									<div class="job-location"><a href="job-details-v2.html">USA, California</a></div>
									<a href="job-details-v2.html" class="apply-btn text-center tran3s">APPLY</a>
								</div>
							</div> <!-- /.job-list-two -->
						</div>
						<div class="item">
							<div class="job-list-two style-two position-relative">
								<a href="job-details-v2.html" class="logo"><img src="/static/images/logo/media_23.png" alt="" class="m-auto"></a>
								<a href="job-details-v2.html" class="save-btn text-center rounded-circle tran3s" title="Save Job"><i class="bi bi-bookmark-dash"></i></a>
								<div><a href="job-details-v2.html" class="job-duration fw-500 part-time">Part-time</a></div>
								<div><a href="job-details-v2.html" class="title fw-500 tran3s">Developer & expert in c++ & java.</a></div>
								<div class="job-salary"><span class="fw-500 text-dark">$10-$15</span> / Hour</div>
								<div class="d-flex align-items-center justify-content-between mt-auto">
									<div class="job-location"><a href="job-details-v2.html">USA, Alaska</a></div>
									<a href="job-details-v2.html" class="apply-btn text-center tran3s">APPLY</a>
								</div>
							</div> <!-- /.job-list-two -->
						</div>
						<div class="item">
							<div class="job-list-two style-two position-relative">
								<a href="job-details-v2.html" class="logo"><img src="/static/images/logo/media_24.png" alt="" class="m-auto"></a>
								<a href="job-details-v2.html" class="save-btn text-center rounded-circle tran3s" title="Save Job"><i class="bi bi-bookmark-dash"></i></a>
								<div><a href="job-details-v2.html" class="job-duration fw-500 part-time">Part-time</a></div>
								<div><a href="job-details-v2.html" class="title fw-500 tran3s">Marketing specialist in SEO & Affiliate. </a></div>
								<div class="job-salary"><span class="fw-500 text-dark">$40k</span> / Yearly</div>
								<div class="d-flex align-items-center justify-content-between mt-auto">
									<div class="job-location"><a href="job-details-v2.html">AUS, Sydney</a></div>
									<a href="job-details-v2.html" class="apply-btn text-center tran3s">APPLY</a>
								</div>
							</div> <!-- /.job-list-two -->
						</div>
						<div class="item">
							<div class="job-list-two style-two position-relative">
								<a href="job-details-v2.html" class="logo"><img src="/static/images/logo/media_25.png" alt="" class="m-auto"></a>
								<a href="job-details-v2.html" class="save-btn text-center rounded-circle tran3s" title="Save Job"><i class="bi bi-bookmark-dash"></i></a>
								<div><a href="job-details-v2.html" class="job-duration fw-500">Fulltime</a></div>
								<div><a href="job-details-v2.html" class="title fw-500 tran3s">Lead & Product & Web Designer.</a></div>
								<div class="job-salary"><span class="fw-500 text-dark">$2k-3k</span> / Month</div>
								<div class="d-flex align-items-center justify-content-between mt-auto">
									<div class="job-location"><a href="job-details-v2.html">UAE, Dubai</a></div>
									<a href="job-details-v2.html" class="apply-btn text-center tran3s">APPLY</a>
								</div>
							</div> <!-- /.job-list-two -->
						</div>
					</div>

					<ul class="slider-arrows slick-arrow-one color-two d-flex justify-content-center style-none sm-mt-20">
						<li class="prev_e slick-arrow"><i class="bi bi-arrow-left"></i></li>
						<li class="next_e slick-arrow"><i class="bi bi-arrow-right"></i></li>
					</ul>
				</div>
			</div>
		</section>



		<!--
		=====================================================
			Job Portal Intro
		=====================================================
		-->
		<section class="job-portal-intro">
			<div class="container">
				<div class="wrapper bottom-border pt-65 md-pt-50 pb-65 md-pb-50">
					<div class="row align-items-center">
						<div class="col-lg-7">
							<div class="text-center text-lg-start">
								<h2>Most complete job portal.</h2>
								<p class="text-md m0 md-pb-20">Signup and start find your job or talents.</p>
							</div>
						</div>
						<div class="col-lg-5">
							<ul class="btn-group style-none d-flex flex-wrap justify-content-center justify-content-lg-end">
								<li class="me-2"><a href="job-list-v1.html" class="btn-three">Looking for job?</a></li>
								<li class="ms-2"><a href="signup.html" class="btn-four">Post a job</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /.job-portal-intro -->

{% endblock content %}